fastapi
uvicorn
sqlalchemy
asyncpg
alembic
python-dotenv
pydantic
typing_extensions
greenlet
aio-pika
python-jose[cryptography]
pytest
pytest-asyncio
httpx
aiosqlite
prometheus-client
prometheus-fastapi-instrumentator
